[honeypot]
# Hostname the honeypot will present
hostname = svr04
# Log in JSON format for HPThreat parsing
log_path = /cowrie/var/log/cowrie
download_path = /cowrie/var/lib/cowrie/downloads
share_path = /cowrie/share/cowrie
state_path = /cowrie/var/lib/cowrie
etc_path = /cowrie/etc
contents_path = /cowrie/honeyfs
txtcmds_path = /cowrie/txtcmds

[output_jsonlog]
enabled = true
logfile = /cowrie/var/log/cowrie/cowrie.json
epoch_timestamp = false
